# 1) 전부 무시
*

# 2) 디렉터리 허용 부모 디렉터리를 먼저 해제 해주지 않으면 절대 자식 것이 올라갈 수가 없음 
!codes/
!codes/router.py
!codes/requirements.txt

# 3) routers 디렉터리와 그 안의 모든 파일 허용
!codes/routers/
!codes/routers/**

codes/routers/.env

